@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  letter-spacing: 1.5px;
}

h1 {
  font-family: "Dancing Script", cursive;
  margin: 10rem auto 1rem auto;
  font-size: 50px;
  font-weight: 600;
}

.App {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.username,
.password,
.email,
.btn {
  font-size: 30px;
  font-weight: 400;
  margin: 10px auto;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgb(104, 104, 104);
  color: rgb(46, 46, 46);
}

.username::placeholder,
.password::placeholder,
.email::placeholder {
  font-size: 20px;
  color: rgb(104, 104, 104);
}

.username:focus,
.password:focus,
.email:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: rgb(104, 104, 104);
  font-size: 16px;
  font-weight: 600;
}

.btn {
  display: block;
  width: inherit;
  margin: 20px auto;
  margin-bottom: 0;
  cursor: pointer;
  border: 2px solid lightseagreen;
  border-radius: 10px;
  padding: 5px;
  color: rgb(46, 46, 46);
  transition: 0.3s ease-in;
}

.btn:hover {
  outline: none;
  background-color: lightseagreen;
  color: rgb(240, 240, 240);
}

.btn:focus {
  outline: none;
}

@media only screen and (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
  }
}
